<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload</title>
</head>
<body>
    <h2>Welcome to the  website {% if user.is_authenticated %} {{user}} {% else %} user {% endif %}</h2>
    <a href="{% url 'upload-files' %}">upload files</a><br>
    <a href="{% url 'files-list' %}">View files</a><br>
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">login</a>
    {% else %}
        <a href="{% url 'logout' %}">logout</a>
    {% endif %}

</body>
</html>